
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:bisque;
  display: grid;
  
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: max-content 100px 100px repeat(1,2fr) 60px auto;
  grid-template-areas: "estilo_menu_principal estilo_menu_principal    estilo_menu_principal"
                        "foto_logo                 foto_logo                 foto_logo"
                        "menu                      menu                              menu"
                        "foto1                  foto2                                foto3" 
                        "relleno_pie           relleno_pie                        relleno_pie"
                        "pie                   pie                                    pie" ;                    
}

.estilo_menu_principal{
  color: black;
  background-color: blueviolet;
  grid-area: estilo_menu_principal;        
  text-decoration: none;
  text-align: right;
  display: inline;
  
 
  
}

body .menu{
background-color: black;
color: azure;
grid-area: menu;
display: inline-block;
height: 30px;

}
body .fondo_logo{
background-color: blueviolet;
grid-area: foto_logo;
text-align: center;

}
.espacio_color{
grid-area: espacio;
background-color: bisque;
}
nav ul{
  list-style: none;
  display: inline-block;
}



nav a{
    text-decoration:none;
    color:inherit;
    font-size:9px;
    }
          
nav li{
    display:inline-block;
    width: 120px;
    height:30px;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:left;
    color:#fff;
    position:relative;
}





nav li:hover{
    background-color:#fff;
    color:#000;
   
    }
          
nav li>ul{
    display:none;
    }

nav li:hover>ul{
    display:list-item;
    top: 10px;
    left:0px;
    background-color:black;
    color: whitesmoke;
    width: 70px;
    height:40px;
    padding:5px 10px;
    
}






.color_pie{
  grid-area: relleno_pie;
  background-color:goldenrod;
  
}
.pie{

  grid-area: pie;
  font-family: 'Lucida Sans';
  font-style: normal;
  font-size: 12px;
 display: block;
  color: #fff;
  background-color: darkslateblue;
}
@media(min-width: 200px){
.gallery__img1{
grid-area:foto 1;
width: 100%;
padding: 2px;
border-radius: 5%;  
}

.gallery__img2{
  grid-area:foto 2;
  width: 100%;
  padding: 2px;
  border-radius: 5%;
  }
  
.gallery__img3{
    grid-area:foto 3;
    width: 100%; 
    padding: 2px;
    border-radius: 5%;
      
    }
     }