
*{
    padding: 0px;
    margin: 0px;
}


    

body{

  background-color: beige;
}
.logo{

   margin-left: auto;
   margin-right: auto;
   display: block;
  
}
nav ul{
    list-style: none;
    display: inline-block;
}

hr{
  color: #000;
}

nav a{
      text-decoration:none;
      color:inherit;
      font-size:9px;
      }
            
nav li{
      display:inline-block;
      width: 90px;
      height:15px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:left;
      color:#fff;
      position:relative;
}





nav li:hover{
      background-color:#fff;
      color:#000;

      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:list-item;
      top: 10px;
      left:0px;
      background-color:black;
      color: whitesmoke;
      width: 70px;
      height:15px;
      padding:5px 10px;
}


.estilo_menu_principal {
  background-color: darkmagenta;
  margin-left: 500px;

  
}


form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  form button {
    
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }
  form textarea {
    width: 90%;
    height: 40px;
    margin: 0.5rem;
  }
.icono_whatsapp{

   margin-left: auto;
   
   display: block;

}
.fondo_logo{

  background-color: darkmagenta;
}
.sub_menu{

  background-color: darkmagenta;
}


footer{

  font-family: 'Lucida Sans';
  font-style: normal;
  font-size: 12px;
  scroll-margin-left: auto;
  display: block;
  color: #fff;
  background-color: darkslateblue;
}
.color_pie{
  background-color:goldenrod;
  padding: 70px;
}

.nombre_producto{
font-style: italic;
font: bold;
font-size: 15px;

}

.container{
  margin: 0 auto;
  width: 90%;
    
}
.btn_comprar{

  display: block;

  text-decoration: none;
  
  color: blue;

}
.button_form{

  display:inline-block;
}
.banner img{
  height: auto;
  width: 100%;
}
.contactanos{

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
